<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Person1ConnectionString" connectionString="Data Source=COMPUTER\SQLEXPRESS;Database=Gamification;Trusted_Connection=True" providerName="System.Data.SqlClient" />
		<add name="Person2ConnectionString" connectionString="Data Source=MSI;Initial Catalog=Gamification;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="Person3ConnectionString" connectionString="Data Source=.;Database=Gamification;Trusted_Connection=True" providerName="System.Data.SqlClient" />
		<add name="MyConnectionString" connectionString="Data Source=.;Database=Gamification;Trusted_Connection=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>